<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JavaEEMVC4</display-name>
  <welcome-file-list>
    <welcome-file>ServletEmisora</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEmisora</display-name>
    <servlet-name>ServletEmisora</servlet-name>
    <servlet-class>es.accenture.emisora.ServletEmisora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmisora</servlet-name>
    <url-pattern>/ServletEmisora</url-pattern>
  </servlet-mapping>
</web-app>